<h1>Thanh toán</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-8">
            <div class="book__container">
                {{#each cartItems}}
                <div class="p-3 book__container-item d-flex align-items-center">
                    <img class="book__container-img" src="{{this.productID.images.[0]}}" alt="Card image cap" />
                    <div class="p-2 w-75 book__container-info">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="" style="width: 231px;"
                                class="text-decoration-none link-dark fw-bold book__container-text-title">{{this.productID.name}}</a>
                            <p class="m-0 book__container-price">{{this.productID.price}} đ</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col col-lg-4">
            <form action="/order/create-order" method="POST">
                <div class="summary">
                    <h1 class="summary__title text-center">Summary</h1>
                    <div class="summary__quantity d-flex justify-content-between">
                        <p>Quantity</p>
                        <p>{{cartItemCount}}</p>
                    </div>
                    <div class="summary__total d-flex justify-content-between">
                        <p class="fw-bold">Total</p>
                        <p class="text-danger">{{totalPrice}}</p>
                    </div>
                    <div class="form-group fw-bold">
                        <label>Chọn Phương thức thanh toán:</label>
                        <label class="control-label">
                            <div class="controls">
                                <label class="radio-inline">
                                    <input type="radio" name="bankCode" id="defaultPaymentMethod" value=""
                                        checked="true">
                                    Cổng thanh toán VNPAYQR
                                </label>
                                <img style="width: 24px;"
                                    src="https://play-lh.googleusercontent.com/o-_z132f10zwrco4NXk4sFqmGylqXBjfcwR8-wK0lO1Wk4gzRXi4IZJdhwVlEAtpyQ"
                                    alt="">
                            </div>
                        </label>
                    </div>
                    <div class="form-group fw-bold">
                        <label>Chọn ngày thuê</label>
                        <label for="date" class="control-label">
                            <div class="controls">
                                <input class="datePicker" type="date" id="date" name="date">
                        </label>
                    </div>
                    </label>
                </div>
                <button type="submit" class="orderBtn">
                    <p class="m-0 fw-bold">Order Now!</p>
                </button>
            </form>
        </div>
    </div>
</div>
</div>